<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<!-- Mirrored from themesflat.com/html/bitexch/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Dec 2020 22:29:53 GMT -->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>About - Libertex Trades</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">

    <!-- Favicon and touch icons  -->
    <link href="images/rinologo.jpeg" rel="shortcut icon">

    <link rel="stylesheet" href="/css/nft_home_page.css">
    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
  
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: "en",
                },
                "google_translate_element"
            );
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        #google_translate_element {
            color: transparent;
        }

        #google_translate_element a {
            display: none;
        }

        select.google_translate_element {
            color: black;
        }

        div.goog-te-gadget {
            color: transparent;
        }

        div.goog-te-gadget {
            color: transparent !important;
        }

        .goog-te-gadget .goog-te-combo {
            margin: 12px 0 !important;
            padding: 2px 1px;
            background: #1a3846;
            border: 1px solid #1a3846;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
            outline: none;
            font-family: "Rajdhani", sans-serif;
            font-size: 15px;
        }

        #myBtn {
            display: block;
            position: fixed;
            bottom: -10px;
            right: 10px;
            z-index: 999;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #myBtn:hover {
            background-color: transparent;
        }

        .circle {
            width: 320px;
            height: 320px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

        .images_trust {
            width: 600px !important;
            height: 400px !important;
            border-radius: 20px !important;
            object-fit: cover;
        }

        @media (max-wisth: 600px) {
            images_trust {
                width: 100%;
                height: 360px;
            }
        }
    </style>
</head>

<body class="header_sticky">
    <!-- Preloader -->
    {{!-- <section class="loading-overlay">
        <div class="loading-page">
            <div class="loader"></div>
        </div>
    </section> --}}

    <!-- Boxed -->
    <div class="boxed">

        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-language-info clearfix">
                            <ul class="flat-info">
                                <a href="https://coinmarketcap.com/currencies/bitcoin/">
                                    <li style="color: black !important">BUY / SELL </li>
                                </a>
                            </ul><!-- /.flat-info -->
                            <div class="flat-language">
                                {{!-- <div id="google_translate_element"></div> --}}
                                <!-- <ul class="unstyled">
                                    <li class="current"><a href="#">English</a>
                                        <ul class="unstyled">
                                            <li class="en"><a href="#">English</a></li>
                                            <li class="ge"><a href="#">German</a></li>
                                        </ul>
                                     </li>
                                </ul> -->
                            </div><!-- /.flat-language -->
                        </div><!-- /.wrap-language-info -->
                    </div><!-- /.clo-md-6 -->
                    {{!-- <div class="col-md-6" style="display: none;">
                        <div class="wrap-social-sign pull-right clearfix">
                            <div class="flat-sign">
                                <a href="/login">Sign in</a>
                                <a href="/signup" class="active">Sign Up</a>
                                <div id="google_translate_element"></div>
                            </div><!-- /.flat-sign -->
                        </div><!-- /.wrap-social-sign -->
                    </div><!-- /.col-md-6 --> --}}
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.top -->

        <div class="flat-header-wrap">
            <div class="header header-top">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-lg-12">
                            <ul class="flat-information">
                                <li class="email">
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="text">
                                        <p><span>Email Address</span><br />support@binarytradingoptions.com</p>
                                    </div>
                                </li>
                                <!-- <li class="phone">
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <p><span>Phone</span><br/><a href="#">+088 0182345</a></p>
                                    </div>
                                </li> -->
                                <li class="address">
                                    <div class="icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="text">
                                        <p><span>Location</span><br />Austrialia</p>
                                    </div>
                                </li>
                            </ul><!-- /.flat-information -->
                        </div><!-- /.col-lg-9 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-top -->

            <header id="header" class="header header-classic">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-wrap">
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li class="active">
                                            <a href="/">HOME</a>
                                        </li>
                                        <li>
                                            <a href="/aboutus">ABOUT US</a>
                                        </li>
                                        <li>
                                            <a href="/login">SIGN IN</a>
                                        </li>
                                        <li>
                                            <a href="/signup" class="active">SIGN UP</a>
                                        </li>
                                    </ul>
                                </nav><!-- /.mainnav -->
                                <ul class="menu-extra">
                                    <li class="search">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li class="quote">
                                        <a href="#" title="">Get Free Quote </a>
                                    </li>
                                </ul><!-- /.menu-extra -->
                                <div class="top-search">
                                    <form role="search" method="get" class="search-form" action="#">
                                        <label>
                                            <input type="search" class="search-field" placeholder="Search …" value=""
                                                name="s">
                                        </label>
                                        <span class="fa fa-times close"></span>
                                    </form>
                                </div><!-- /.top-serach -->
                                <div class="btn-menu">
                                    <span></span>
                                </div><!-- /.mobile menu button -->
                                <div id="google_translate_element"></div>
                            </div><!-- /.nav-wrap -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </header><!-- /header -->
        </div><!-- /.flat-header-wrap -->

        <!-- Page title -->
        <div class="page-title parallax parallax1">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h1 class="title">About Libertex Trades</h1>
                        </div><!-- /.page-title-captions -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.page-title -->

        <div class="flat-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="about.html">About us</a></li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                        <div class="market">
                            <a href="#" title="">Market Depth</a>
                        </div><!-- /.market -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-breadcrumbs -->

        <section class="flat-row flat-currency">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-currency clearfix text-center">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="box-icon">
                                        <img src="images/iconbox/01.png" alt="image">
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="box-title">
                                        Bitcoins
                                    </div>
                                    <div class="btn-more">
                                        <a
                                            href="https://money.cnn.com/infographic/technology/what-is-bitcoin/index.html">Read
                                            more</a>
                                    </div>
                                </div>
                            </div><!-- /.iconbox -->
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="box-icon">
                                        <img src="images/iconbox/02.png" alt="image">
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="box-title">
                                        Ethereum
                                    </div>
                                    <div class="btn-more">
                                        <a href="https://ethereum.org/en/what-is-ethereum/">Read more</a>
                                    </div>
                                </div>
                            </div><!-- /.iconbox -->
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="box-icon">
                                        <img src="images/iconbox/03.png" alt="image">
                                    </div>
                                </div>
                                <div class="box-content">
                                    <div class="box-title">
                                        Zcash
                                    </div>
                                    <div class="btn-more">
                                        <a href="https://z.cash/">Read more</a>
                                    </div>
                                </div>
                            </div><!-- /.iconbox -->
                        </div><!-- /.wrap-currency -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row row-counter">
            <div class="overlay bg-price"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-counter text-center clearfix">
                            <div class="flat-counter">
                                <div class="content-counter">
                                    <div class="name-count">
                                        WALLETS
                                    </div>
                                    <div class="numb-count">537</div>
                                </div>
                            </div><!-- /.flat-counter -->
                            <div class="flat-counter text-center">
                                <div class="content-counter">
                                    <div class="name-count">
                                        CURRENCIES
                                    </div>
                                    <div class="numb-count">50</div>
                                </div>
                            </div><!-- /.flat-counter -->
                            <div class="flat-counter text-center">
                                <div class="content-counter">
                                    <div class="name-count">
                                        COUNTRIES
                                    </div>
                                    <div class="numb-count">79</div>
                                </div>
                            </div><!-- /.flat-counter -->
                            <div class="flat-counter text-center">
                                <div class="content-counter">
                                    <div class="name-count">
                                        ACTIVE TRADERS
                                    </div>
                                    <div class="numb-count">1,561,171</div>
                                </div>
                            </div><!-- /.flat-counter -->
                        </div><!-- /.wrap-price -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row-->

        <section class="flat-row row-wallet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-wallet">
                            <div class="content-box">
                                <div class="title-section">
                                    <h2 class="title">
                                        WHY STAKING?
                                    </h2>
                                </div>
                                <p>If you know how Bitcoin works, you’re probably familiar with proof of work (PoW).
                                    Under this mechanism, miners record transactions into blocks and compete to solve
                                    complex mathematical puzzles, expanding computing resources to have a chance to add
                                    the next block to the chain.
                                    Proof of work has proven to be a very robust mechanism to facilitate consensus in a
                                    decentralized manner. The problem is that it involves a lot of arbitrary
                                    computation. The puzzle the miners are competing to solve serves no purpose other
                                    than keeping the network secure. Many believe that this in itself makes the excess
                                    of computation justifiable. However, it is also fair to ask: are there ways to
                                    maintain decentralized consensus without the high computational cost?
                                    Enter proof of stake. The main idea is that participants can lock coins (their
                                    “stake”), and at particular intervals, the protocol randomly assigns the right to
                                    one of them to validate the next block. Typically, the probability of being chosen
                                    is proportional to the amount of coins – the more coins locked up, the higher the
                                    chances and this is what Libertex Trades offers on a web3 scale</p>
                            </div>
                            <div class="box-wallet">
                                <div class="featured-wallet">
                                    <img class="images_trust" src="images/trust1.jpg" alt="image" />
                                </div>
                                <div class="market-wallet">
                                    <div class="title text-center">
                                        <h5>Currency Market</h5>
                                    </div>
                                    <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div class="tradingview-widget-container__widget"></div>
                                        <div class="tradingview-widget-copyright"><a
                                                href="https://www.tradingview.com/markets/" rel="noopener"
                                                target="_blank"><span class="blue-text">Financial Markets</span></a> by
                                            TradingView</div>
                                        <script type="text/javascript"
                                            src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js"
                                            async>
                                                {
                                                    "width": 770,
                                                        "height": 450,
                                                            "symbolsGroups": [
                                                                {
                                                                    "name": "Indices",
                                                                    "originalName": "Indices",
                                                                    "symbols": [
                                                                        {
                                                                            "name": "FOREXCOM:SPXUSD",
                                                                            "displayName": "S&P 500"
                                                                        },
                                                                        {
                                                                            "name": "FOREXCOM:NSXUSD",
                                                                            "displayName": "US 100"
                                                                        },
                                                                        {
                                                                            "name": "FOREXCOM:DJI",
                                                                            "displayName": "Dow 30"
                                                                        },
                                                                        {
                                                                            "name": "INDEX:NKY",
                                                                            "displayName": "Nikkei 225"
                                                                        },
                                                                        {
                                                                            "name": "INDEX:DEU40",
                                                                            "displayName": "DAX Index"
                                                                        },
                                                                        {
                                                                            "name": "FOREXCOM:UKXGBP",
                                                                            "displayName": "UK 100"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "Futures",
                                                                    "originalName": "Futures",
                                                                    "symbols": [
                                                                        {
                                                                            "name": "CME_MINI:ES1!",
                                                                            "displayName": "S&P 500"
                                                                        },
                                                                        {
                                                                            "name": "CME:6E1!",
                                                                            "displayName": "Euro"
                                                                        },
                                                                        {
                                                                            "name": "COMEX:GC1!",
                                                                            "displayName": "Gold"
                                                                        },
                                                                        {
                                                                            "name": "NYMEX:CL1!",
                                                                            "displayName": "Crude Oil"
                                                                        },
                                                                        {
                                                                            "name": "NYMEX:NG1!",
                                                                            "displayName": "Natural Gas"
                                                                        },
                                                                        {
                                                                            "name": "CBOT:ZC1!",
                                                                            "displayName": "Corn"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "Bonds",
                                                                    "originalName": "Bonds",
                                                                    "symbols": [
                                                                        {
                                                                            "name": "CME:GE1!",
                                                                            "displayName": "Eurodollar"
                                                                        },
                                                                        {
                                                                            "name": "CBOT:ZB1!",
                                                                            "displayName": "T-Bond"
                                                                        },
                                                                        {
                                                                            "name": "CBOT:UB1!",
                                                                            "displayName": "Ultra T-Bond"
                                                                        },
                                                                        {
                                                                            "name": "EUREX:FGBL1!",
                                                                            "displayName": "Euro Bund"
                                                                        },
                                                                        {
                                                                            "name": "EUREX:FBTP1!",
                                                                            "displayName": "Euro BTP"
                                                                        },
                                                                        {
                                                                            "name": "EUREX:FGBM1!",
                                                                            "displayName": "Euro BOBL"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "name": "Forex",
                                                                    "originalName": "Forex",
                                                                    "symbols": [
                                                                        {
                                                                            "name": "FX:EURUSD",
                                                                            "displayName": "EUR/USD"
                                                                        },
                                                                        {
                                                                            "name": "FX:GBPUSD",
                                                                            "displayName": "GBP/USD"
                                                                        },
                                                                        {
                                                                            "name": "FX:USDJPY",
                                                                            "displayName": "USD/JPY"
                                                                        },
                                                                        {
                                                                            "name": "FX:USDCHF",
                                                                            "displayName": "USD/CHF"
                                                                        },
                                                                        {
                                                                            "name": "FX:AUDUSD",
                                                                            "displayName": "AUD/USD"
                                                                        },
                                                                        {
                                                                            "name": "FX:USDCAD",
                                                                            "displayName": "USD/CAD"
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                                "showSymbolLogo": true,
                                                                    "colorTheme": "light",
                                                                        "isTransparent": false,
                                                                            "locale": "en"
                                                }
                                            </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                    {{!-- <ul class="list-wallet">
                                        <li>
                                            <div class="icon">
                                                <img src="images/wallet/icon_01.png" alt="image">
                                            </div>
                                            <div class="text">
                                                BTC - USD <span>$ 17,867.26 <sub>(-4.07%)</sub></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="images/wallet/icon_02.png" alt="image">
                                            </div>
                                            <div class="text">
                                                ETH - USD <span>$ 841.97 <sub> (16.48%)</sub></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="images/wallet/icon_03.png" alt="image">
                                            </div>
                                            <div class="text">
                                                DASH - USD <span>$ 1,165.58 <sub>(9.57%)</sub></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="images/wallet/icon_04.png" alt="image">
                                            </div>
                                            <div class="text">
                                                ZEC - USD <span>$ 556.72 <sub>(7.39%)</sub></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <img src="images/wallet/icon_01.png" alt="image">
                                            </div>
                                            <div class="text">
                                                BTC/EUR <span>$ 16109.90 <sub>(-2.93%)</sub></span>
                                            </div>
                                        </li>
                                    </ul> --}}
                                </div>
                            </div>
                            <div class="content-box margin_bottom_65 clearfix">

                                <div class="text-about margin_bottom_65">
                                    <div class="title-section">
                                        <h2 class="title">
                                            WHY Libertex Trades
                                        </h2>
                                    </div>
                                    <p class="margin_bottom_18">
                                        Its multi-coin wallet feature will enable users to stake, store, send, receive
                                        and exchange different cryptocurrencies with a single account.
                                        Libertex Trades user friendly features supports liquid staking of many
                                        cryptocurrencies including Bitcoin, Ethereum, Ethereum Classic, Binance Coin
                                        etc. You also have the possibility of staking on Proof-of-Stake coins such as
                                        Tezos, Cosmos or Tron.

                                    </p>
                                    <p>The current form of the internet is not perfect. We have no control over our
                                        data, and serious concerns exist regarding security, content censorship, and
                                        decision-making. Data is centrally stored and regulated, and single points of
                                        failure make the network less reliable. This is the state of the World Wide Web,
                                        thirty years after its birth. Web3 addresses such loopholes and brings higher
                                        transparency, sovereignty and reliability.</p>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="inner-box-about">
                                    <div class="title-section">
                                        <h2 class="title font_22">
                                            Legal Information about Bitcoin
                                        </h2>
                                    </div>
                                    <ul class="flat-list">
                                        <li>How legal is Bitcoin?</li>
                                        <li>Is it possible to use Bitcoin for illegal activities?</li>
                                        <li>Can Bitcoin be regulated?</li>
                                        <li>How does Bitcoin work with taxes?</li>
                                        <li>Is there with Bitcoin consumer protection?</li>
                                    </ul><!-- /.flat-list -->
                                </div>
                                <div class="inner-box-about">
                                    <img src="images/trust2.jpg" alt="image">
                                </div>
                            </div>
                        </div><!-- /.wrap-wallet -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row flat-bysell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-column clearfix">
                            <div class="flat-column box-text">
                                <div class="title-section style7">
                                    <div class="sub-title">
                                        Buy and Sell Bitcoins
                                    </div>
                                    <h2 class="title">
                                        Why are so many people getting involved in digital currencies?
                                    </h2>
                                </div>
                                <div class="content-text">
                                    <p>Libertex Trades is a place for everyone who wants to simply buy and sell Bitcoins.
                                        Deposit funds using your Visa/MasterCard or bank transfer. Instant buy/sell of
                                        Bitcoins at fair price is guaranteed. Nothing extra. Join over 700,000 users
                                        from all over the world satisfied with our services.</p>
                                    <div class="btn-more">
                                        <form method="get" action="/signup">
                                            <button type="submit" class="flat-button bg_color1">Sign Up Now</button>
                                        </form>

                                    </div>
                                </div>
                            </div><!-- /.flat-column -->
                            <div class="flat-column box-img">
                                <img src="images/about/2.png" alt="image">
                            </div><!-- /.flat-column -->
                        </div><!-- /.wrap-column -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row row-counter style2 parallax parallax3">
            <div class="overlay bg_color1"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="flat-counter text-center style2">
                            <div class="content-counter">
                                <div class="name-count">
                                    CURRENCIES
                                </div>
                                <div class="numb-count" data-to="50" data-speed="2000" data-waypoint-active="yes">50
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="flat-counter text-center style2">
                            <div class="content-counter">
                                <div class="name-count">
                                    MLN BITCOIN WALLETS
                                </div>
                                <div class="numb-count" data-to="537" data-speed="2000" data-waypoint-active="yes">537
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="flat-counter text-center style2">
                            <div class="content-counter">
                                <div class="name-count">
                                    CUSTOMER SOLVED
                                </div>
                                <div class="numb-count" data-to="5M+" data-speed="2000" data-waypoint-active="yes">5M+
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row row-team" style="display: none;">
            <div class="container">
                <div class="row" style="display: none;">
                    <div class="col-lg-4">
                        <div class="flat-team">
                            <div class="content">
                                <h2 class="name">Alexander Mahfuz</h2>
                                <p class="position">
                                    CEO, Visioner, Business angel, Entrepreneur
                                </p>
                                <ul class="flat-list style2">
                                    <li> 95 startups in portfolio<br /> (×8 ROI)</li>
                                    <li>Founder of #1 crowdinvesting<br /> platform in Russia</li>
                                    <li>Blockchain educational program<br /> director at Plekhanov Russian<br />
                                        University of Economics</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-8">
                        <div class="flat-team">
                            <div class="avatar">
                                <img src="images/team/1.jpg" alt="image">
                            </div>
                        </div>
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row row-testimonials parallax parallax4">
            <div class="overlay bg_color1"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-testimonials text-center">
                            <div class="flat-testimonials" data-item="1" data-nav="false" data-dots="false"
                                data-auto="true">
                                <div class="testimonials">
                                    <div class="avatar">
                                        <div class="author-thumb">
                                            <img src="../assets/images/logo-mini.png" alt="" height="100px"
                                                width="100px" style="border-radius: 50%">
                                        </div>
                                        <div class="name">
                                            {{!-- <span>Ben Luke, CEO Eggwatch Tech</span> --}}
                                        </div>
                                    </div>
                                    <div class="message">
                                        <blockquote>
                                            <p>
                                                TrustDEX aims to solve problems associated with initial ETH 2.0 staking
                                                illiquidity,
                                                immovability and ccessibility - making staked custom ETH liquid and
                                                allowing for articipation
                                                with any amount of ETH to improve security of the Ethereum network.
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                                <!-- /.testimonials -->
                                <div class="testimonials">
                                    <div class="avatar">
                                        <div class="author-thumb">
                                            <img src="../assets/images/logo-mini.png" alt="" height="100px"
                                                width="100px" style="border-radius: 50%">
                                        </div>
                                        <div class="name">
                                            {{!-- <span>Ben Luke, CEO Eggwatch Tech</span> --}}
                                        </div>
                                    </div>
                                    <div class="message">
                                        <blockquote>
                                            <p>
                                                TrustDEX aims to solve problems associated with initial ETH 2.0 staking
                                                illiquidity,
                                                immovability and ccessibility - making staked custom ETH liquid and
                                                allowing for articipation
                                                with any amount of ETH to improve security of the Ethereum network.
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>
                                <!-- /.testimonials -->
                            </div>
                            <!-- /.flat-testimonials -->
                        </div>
                        <!-- /.wrap-testimonials -->
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

        <section class="flat-row row-chart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section">
                            <h2 class="title font_38">Start your NFT quest today on a web3 scale for purchasing and
                                storing on different networks</h2>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->

                <div class="collection_container" id="appendCollections"></div>

                <div class="divider h24"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-column one-half">
                            <div class="table-chart">
                                <img src="images/about/3.jpg" alt="image">
                            </div>
                        </div><!-- /.flat-column -->
                        <div class="flat-column one-half">
                            <div class="chart">
                                <div id="myDiv">
                                    <!-- Plotly chart will be drawn inside this DIV -->
                                </div>
                            </div>
                        </div><!-- /.flat-column -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row flat-download-divice">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-download text-center">
                            <h2 class="title">
                                It’s never too late to get started. Buy, store and learn <br /> about trading
                                cryptocurrency now.
                            </h2>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-download-divice -->


        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget widget-brand">
                                <div class="logo logo-footer">
                                    <a href="/">
                                        <img width="100" style="border-radius: 50%" src="images/rinologo.jpeg"
                                            alt="image" />
                                    </a>
                                </div>
                                {{!-- <p>Established in 2017 as the first cloud mining provider, Libertex Trades has become a
                                    multi-functional cryptocurrency exchange, trusted by over a million users.</p> --}}
                            </div><!-- /.widget-brand -->
                            <!-- <div class="widget widget-social">
                                <h5 class="widget-title">Follow Us</h5>
                                <div class="social-list">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div> -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="wiget widget-services">
                                <div class="one-half">
                                    <h5 class="widget-title">
                                        RESOURCES
                                    </h5>
                                    <ul>
                                        <li><a href="https://coinmarketcap.com/currencies/bitcoin/">Bitcoin Price</a>
                                        </li>
                                        <li><a href="https://coinmarketcap.com/currencies/ethereum/">Ethereum Price</a>
                                        </li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="one-half padding_left_73">
                                    <h5 class="widget-title">
                                        SHORT LINK
                                    </h5>
                                    <ul>
                                        <li><a href="https://youtu.be/3QH7ZTibV-Q
                                            ">Buy Bitcoins</a></li>
                                        <li><a href="https://youtu.be/4b6lQ5WNqGA">Buy Ethereum</a></li>
                                        <li><a href="https://youtu.be/DRAw1XByWQI">Sell Bitcoins</a></li>
                                        <li><a href="about.html">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="widget widget-subscribe">
                                <h5 class="widget-title">
                                    Subscribe
                                </h5>
                                <p>Sign up for our mailing list to get latest updates and offers</p>
                                <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                    <div id="subscribe-content">
                                        <div class="input">
                                            <input type="text" id="subscribe-email" name="subscribe-email"
                                                placeholder="Your email address">
                                        </div>
                                        <div class="button">
                                            <button type="button" id="subscribe-button" class="bg_color1"
                                                title="Subscribe now"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <p>
                                    Working Hours : Monday-Saturday<br /><span>Close : Sunday</span>
                                </p>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->
        </footer><!-- /.footer -->

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center">Copyright @2023 <a href="/"> Libertex Trades </a></p>
                    </div>
                </div>
            </div>
        </div><!-- /.footer-bottom -->

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
          <a href="https://api.whatsapp.com/send?phone=447398005228&text=Hello%21" target="_blank">
        <div class="whatsapp-icon">
            <img src="/images/WhatsApp.svg.webp" alt="WhatsApp Icon">
        </div>
    </a>

    <!-- Javascript -->
    <script src="/js/nft-two.js"></script>
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/tether.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/jquery.easing.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/owl.carousel.js"></script>
    <script src="javascript/jquery-countTo.js"></script>
    <script src="javascript/jquery-waypoints.js"></script>
    <script src="javascript/jquery-validate.js"></script>
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/plotly-latest.min.js"></script>
    <script src="javascript/jquery.easeScroll.js"></script>
    <script src="javascript/gmap3.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLjIsk1A1SP8UsfNf2r4VXPinzvnIsnN4&amp;region=GB"></script>
    <script src="javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/slider.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
</body>
  {{!-- <script src="//code.tidio.co/ivorokqnnw4n2dgvdeacw3c9s1j5fvhr.js" async></script> --}}
  <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'e245bf7aad08bddb94ad4831f1c30bc84dbd6e8a';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

<!-- Mirrored from themesflat.com/html/bitexch/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Dec 2020 22:29:58 GMT -->

</html>