<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacked</title>
</head>
<style>
    body {
        font-weight: bolder;
        font-family: agency fb;
        text-align: center;
    }
</style>

<body style="background-color: green">
    <h1 style="color: red;">HACKED!!</h1>
    <p style="color: white; font-size: 28px;">This site is currently compromised and hijacked by malwares</p>
</body>

</html>