<!--[if IE 8]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> 
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8" />
  <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
  <title>Home - Libertex Trades</title>

  <meta name="author" content="themesflat.com" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />

  <!-- Theme Style -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />

  <!-- Animation Style -->
  <link rel="stylesheet" type="text/css" href="stylesheets/animate.css" />

  <!-- REVOLUTION LAYERS STYLES -->
  <link rel="stylesheet" type="text/css" href="revolution/css/layers.css" />
  <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" />

  <!-- Favicon and touch icons  -->
  <link href="images/rinologo.jpeg" rel="shortcut icon" />
  <link rel="stylesheet" href="/css/nft_home_page.css" />
  <!--[if lt IE 9]>
      <script src="javascript/html5shiv.js"></script>
      <script src="javascript/respond.min.js"></script>
    <![endif]-->

  
  <script>
    function googleTranslateElementInit() {
      new
        google.translate.TranslateElement({ pageLanguage: "en", },
          "google_translate_element");
    }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <style>
    #google_translate_element {
      color: transparent;
    }

    #google_translate_element a {
      display: none;
    }

    select.google_translate_element {
      color: black;
      background-color: #fff !important;
    }

    div.goog-te-gadget {
      color: transparent;
    }

    div.goog-te-gadget {
      color: transparent !important;
    }

    .goog-te-gadget .goog-te-combo {
      margin: 12px 0 !important;
      padding: 2px 1px;
      border: 1px solid #1a3846;
      color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
      outline: none;
      font-family: "Rajdhani", sans-serif;
      font-size: 15px;
    }

    #myBtn {
      display: block;
      position: fixed;
      bottom:
        -10px;
      right: 10px;
      z-index: 999;
      font-size: 18px;
      border: none;
      outline:
        none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }

    #myBtn:hover {
      background-color:
        transparent;
    }

    .circle {
      width: 320px;
      height: 320px;
      -moz-border-radius:
        50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }

    @media screen and (max-width: 600px) {
      h3#my_title {
        font-size: 20px
      }
    }

    .flat-information li .icon {
      padding-top: 20px;
    }
  </style>
  
</head>

<body class="header_sticky">
  <!-- Preloader -->
  {{! <section class="loading-overlay">
    <div class="loading-page">
      <div class="loader"></div>
    </div>
  </section> }}

  <!-- Boxed -->
  <div class="boxed">
    <div class="top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="wrap-language-info clearfix">
              <ul class="flat-info">
                <a href="https://coinmarketcap.com/currencies/bitcoin/">
                  <li style="color: black !important">BUY / SELL </li>
                </a>
              </ul>
              <!-- /.flat-info -->
              <div class="flat-language">
                {{! <div id="google_translate_element"></div> }}
                <!-- <ul class="unstyled">
                                    <li class="current"><a href="#">English</a>
                                        <ul class="unstyled">
                                            <li class="en"><a href="#">English</a></li>
                                            <li class="ge"><a href="#">German</a></li>
                                        </ul>
                                     </li>
                                     <li>
                                       
                                     </li>
                                </ul> 
              </div>
              <!-- /.flat-language -->
              </div>
              <!-- /.wrap-language-info -->
            </div>
            <!-- /.clo-md-6 -->
            {{! <div class="col-md-6" style="display: none;">
              <div class="wrap-social-sign pull-right clearfix">
                <div class="flat-sign">
                  <a href="/login">Sign in</a>
                  <a href="/signup" class="active">Sign Up</a>
                  <div id="google_translate_element"></div>
                </div>
                <!-- /.flat-sign -->
              </div> }}
              <!-- /.wrap-social-sign -->
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.top -->

      <div class="flat-header-wrap">
        <div class="header header-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <ul class="flat-information">
                  <li class="email">
                    <div class="icon">
                      <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="text">
                      <p>
                        <span>Email Address</span><br />support@libertextrades.com
                      </p>
                    </div>
                  </li>
                  <!-- <li class="phone">
                                    <div class="icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <p><span>Phone</span><br/><a href="#">+088 0182345</a></p>
                                    </div>
                                </li> -->
                  <li class="address">
                    <div class="icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="text">
                      <p><span>Location</span><br />Austrialia</p>
                    </div>
                  </li>
                </ul>
                <!-- /.flat-information -->
              </div>
              <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.header-top -->

        <header id="header" class="header header-classic">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="nav-wrap">
                  <nav id="mainnav" class="mainnav">
                    <ul class="menu">
                      <li class="active">
                        <a href="/">HOME</a>
                      </li>
                      <li>
                        <a href="/aboutus">ABOUT US</a>
                      </li>
                      <li>
                        <a href="/login">SIGN IN</a>
                      </li>
                      <li>
                        <a href="/signup" class="active">SIGN UP</a>
                      </li>
                    </ul>
                  </nav>
                  <!-- /.mainnav -->
                  <ul class="menu-extra">
                    <li class="search">
                      {{! <a href="#"><i class="fa fa-search"></i></a> }}
                    </li>
                    <li class="quote">
                      <a href="#" title="">Get Free Quote </a>
                    </li>
                  </ul>
                  <!-- /.menu-extra -->
                  <div class="top-search">
                    <form role="search" method="get" class="search-form" action="#">
                      <label>
                        <input type="search" class="search-field" placeholder="Search …" value="" name="s" />
                      </label>
                      <span class="fa fa-times close"></span>
                    </form>
                  </div>
                  <!-- /.top-serach -->
                  <div class="btn-menu">
                    <span></span>
                  </div>

                  <div id="google_translate_element"></div>

                  <!-- /.mobile menu button -->
                </div>
                <!-- /.nav-wrap -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </header>
        <!-- /header -->
      </div>
      <!-- /.flat-header-wrap -->
      <div class="page-title parallax parallax1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="page-title-heading">
                <h2 class="title" style="color: white;">Welcome to Binary
                  Trading Options</h2>
                <div class="center_btn">
                  <a href="/signup" style="padding: 20px;" target="_self"
                    class="tp-caption flat-button bg_color1 text-center"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-x="['center','center','center','center']" data-hoffset="['-479','-360','-200','-80']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['211','211','80','80']"
                    data-fontweight="['700','700','700','700']" data-width="['auto']" data-height="['auto']"
                    style="z-index: 3;">GET STARTED </a>
                </div>
                <!-- END LAYER LINK -->
              </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
      <!-- /.page-title --
    <div id="rev_slider_1078_1_wrapper" style="display: none !important;" class="rev_slider_wrapper fullwidthbanner-container slide-overlay"
      data-alias="classic4export" data-source="gallery" style="
          margin: 0px auto;
          background-color: transparent;
          padding: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
        ">
      <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->

      <!-- END REVOLUTION SLIDER -->

      <section class="flat-row flat-currency style6">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-currency no_padding clearfix">

                <div class="row">
                  <!-- Column -->
                  <div class="col-md-4 wrap-feature11-box wrapper_new">
                    <div class="card card-shadow aos-init aos-animate" data-aos="fade-right" data-aos-duration="1200">
                      <div class="card-body">

                        <h5 class="font-medium">Cryptocurrencies and Forex</h5>
                        <p class="m-t-20 font-14 l-h-20">The bigest
                          cryptocurrency, number one on market. Bitcoin is the
                          first open-source, decentralized and most popular
                          cryptocurrency.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col-md-4 wrap-feature11-box wrapper_new">
                    <div class="card card-shadow aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                      <div class="card-body">

                        <h5 class="font-medium">Binary and Stock Options</h5>
                        <p class="m-t-20 font-14 l-h-20">Unique product offering
                          the mining of the most profitable cryptocurrencies in
                          the cloud. You can mining one of them or both at the
                          same time. Your hardware is already running and
                          waiting for You!
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col-md-4 wrap-feature11-box wrapper_new">
                    <div class="card card-shadow aos-init aos-animate" data-aos="fade-left" data-aos-duration="1200">
                      <div class="card-body">

                        <h5 class="font-medium">Futures</h5>
                        <p class="m-t-20 font-14 l-h-20">The second bigest
                          cryptocurrency on market. Ethereum is a decentralized
                          platform that runs reliable smart contracts.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>


                {{! <div class="iconbox style1 box_wrapper">
                  <div class="box-header">
                    <div class="box-icon">
                      <img src="images/iconbox/01.png" alt="image" />
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="box-title">Bitcoindds</div>
                    <div class="btn-more">
                      <a href="https://money.cnn.com/infographic/technology/what-is-bitcoin/index.html">Read more</a>
                    </div>
                  </div>
                </div>
                <!-- /.iconbox -->
                <div class="iconbox style1 box_wrapper">
                  <div class="box-header">
                    <div class="box-icon">
                      <img src="images/iconbox/02.png" alt="image" />
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="box-title">Ethereum</div>
                    <div class="btn-more">
                      <a href="https://ethereum.org/en/what-is-ethereum/">Read more</a>
                    </div>
                  </div>
                </div>
                <!-- /.iconbox -->
                <div class="iconbox style1 box_wrapper">
                  <div class="box-header">
                    <div class="box-icon">
                      <img src="images/iconbox/bnb.png" alt="image" style="height: 46px" />
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="box-title">BNB</div>
                    <div class="btn-more">
                      <a href="https://www.binance.com/en/bnb">Read more</a>
                    </div>
                  </div>
                </div>
                <!-- /.iconbox -->
                <div class="iconbox style1 box_wrapper">
                  <div class="box-header">
                    <div class="box-icon">
                      <img src="images/iconbox/usd.png" alt="image" style="height: 46px" />
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="box-title">USD</div>
                    <div class="btn-more">
                      <a href="https://usd.currencyrate.today/">Read more</a>
                    </div>
                  </div>
                </div>
                <!-- /.iconbox -->

                <div class="iconbox style1 box_wrapper">
                  <div class="box-header">
                    <div class="box-icon">
                      <img src="images/iconbox/ada.jpg" alt="image" style="height: 46px; border-radius: 50%" />
                    </div>
                  </div>
                  <div class="box-content">
                    <div class="box-title">Cardano</div>
                    <div class="btn-more">
                      <a href="https://cardano.org/">Read more</a>
                    </div>
                  </div>
                </div> }}
                <!-- /.iconbox -->
              </div>
              <!-- /.wrap-currency -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="element" style="display: none;">
          <img src="images/slides/mobile-01.png" alt="image" />
        </div>
      </section>
      <!-- /.flat-row -->

      {{!-- <section class="flat-row row-counter">
        <div class="overlay bg-price"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-counter text-center clearfix">
                <div class="flat-counter" style="border: unset !important;">
                  <div class="content-counter">
                    <div class="name-count">WALLETS</div>
                    <div class="numb-count">537</div>
                  </div>
                </div>
                <!-- /.flat-counter -->
                <div class="flat-counter text-center" style="border: unset !important;">
                  <div class="content-counter">
                    <div class="name-count">DiFi tokens</div>
                    <div class="numb-count">50</div>
                  </div>
                </div>
                <!-- /.flat-counter -->
                <div class="flat-counter text-center" style="border: unset !important;">
                  <div class="content-counter">
                    <div class="name-count">COUNTRIES</div>
                    <div class="numb-count">79</div>
                  </div>
                </div>
                <!-- /.flat-counter -->
                <div class="flat-counter text-center">
                  <div class="content-counter">
                    <div class="name-count">ACTIVE TRADERS</div>
                    <div class="numb-count">1,561,171</div>
                  </div>
                </div>
                <!-- /.flat-counter -->
              </div>
              <!-- /.wrap-price -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>

      <!-- /.flat-row--> --}}

      {{!-- Investment Plans --}}

       <section id="section_investment">
        <h2> Affordable <span> Plan </span></h2>
        <h3> INVEST IN OUR VARIOUS PLANS TO YIELD A PASSIVE INCOME FOR YOUR RETIREMENT</h3>
        <div id="investment-container">
            
            <div id="container">
                <p> Basic  plan </p>
                <h2> $300 - $999</h2>
                <a class="investment_link" href="#" style="text-align: center; display:block;" > Get Started </a>
                <h4> Earn 20% </h4>
                <h5> In 48 Hours </h5>
            </div>

            <div id="container">
                <p> Basic  plan </p>
                <h2> $300 - $600</h2>
                <a class="investment_link" href="#" style="text-align: center; display:block;"> Get Started </a>
                <h4> Earn 20% </h4>
                <h5> In 48 Hours </h5>
            </div>

            <div id="container">
                <p> Basic  plan </p>
                <h2> $600 - $1000</h2>
                <a class="investment_link" href="#" style="text-align: center; display:block;"> Get Started </a >
                <h4> Earn 20% </h4>
                <h5> In 48 Hours </h5>
            </div>

            <div id="container">
                <p> Basic  plan </p>
                <h2> $600 - $1000</h2>
                <a class="investment_link" href="#" style="text-align: center; display:block;"> Get Started </a>
                <h4> Earn 20% </h4>
                <h5> In 48 Hours </h5>
            </div>

            <div id="container">
                <p> Basic  plan </p>
                <h2> $600 - $1000</h2>
                <a class="investment_link" href="#" style="text-align: center; display:block;"> Get Started </a>
                <h4> Earn 20% </h4>
                <h5> In 48 Hours </h5>
            </div>

        </div>
       </section>


      <section class="flat-row flat-fees">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="flat-column style2">
                <div class="title-section style6">
                  <div class="sub-title">
                    On The DEFI Blockchain Network
                  </div>
                </div>
                <div class="content-text">
                  <p>
                    Bitcoin Hits over $60,000 in Major Milestone for #1
                    <br />
                    Cryptocurrency
                  </p>
                  <div class="btn-more">
                    <a href="/signup" class="btn btn-info flat-button bg_color1">Create New account</a>
                  </div>
                </div>
              </div>
              <!-- /.flat-column -->
            </div>
            <!-- /.col-lg-5 -->
            <div class="col-lg-7">
              <div class="flat-column">
                <img
                  src="https://images.pexels.com/photos/6770610/pexels-photo-6770610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="image" />
              </div>
              <!-- /.flat-column -->
            </div>
            <!-- /.col-lg-7 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-convert">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="flat-convert">
                <div class="content-convert clearfix">
                  <div class="convert-inner">
                    <h2 style="color: black;">Grow your portfolio</h2>
                    <p>
                      Libertex Trades is a liquid staking solution for
                      custom tokens backed by industry leading staking
                      providers. Users stake custom tokens without locking
                      assets or maintaining infrastructure whilst participating
                      in on-chain actities.
                    </p>
                  </div>
                  <div class="convert-inner">
                    <h2 style="color: black;">Store crypto, earn rewards</h2>
                    <p>
                      Stake against different validators in the case of Defi
                      tokens and earn rewards with use of non-custodial staking
                      services to eliminate counterparty risk for open sourcing
                      and continuous review of all code

                    </p>
                  </div>
                </div>
              </div>
              <!-- /.flat-convert -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-choosing">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="flat-choosing clearfix">
                <div class="choosing-header">
                  <h2 class="title" style="text-align: left;">
                    Why are folks joining the ecosystem of an advance technique
                    in staking/trading for web3 development?
                  </h2>
                </div>
                <div class="choosing-content">
                  <p>( Find out if Libertex Trades is right for you )</p>
                  <div class="btn-more text-center">
                    <a href="/aboutus">Know more</a>
                  </div>
                </div>
              </div>
              <!-- /.flat-choosing -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-choosing style2">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-column text-center clearfix">
                <div class="flat-column one-third">
                  <div class="iconbox style3">
                    <div class="box-header">
                      <h5 class="box-title">Libertex Trades is trusted</h5>
                      <div class="box-icon">
                        <img src="images/iconbox/16.png" alt="image" />
                      </div>
                    </div>
                    <div class="box-content">
                      <p>
                        We’re early industry pioneers and have been around since
                        2023, successfully processed more than a billion dollars
                        in transactions and have happy clients in over 40
                        countries.
                      </p>
                    </div>
                  </div>
                  <!-- /.iconbox -->
                  <div class="iconbox style3" style="display: none;">
                    <div class="box-header">
                      <h5 class="box-title">Make Payment</h5>
                      <div class="box-icon">
                        <img src="images/iconbox/17.png" alt="image" />
                      </div>
                    </div>
                    <div class="box-content">
                      <p>
                        Most popular methods: Visa, MasterCard, bank transfer
                        (SWIFT, SEPA), cryptocurrency
                      </p>
                    </div>
                  </div>
                  <!-- /.iconbox -->
                </div>
                <!-- /.flat-column -->
                <div class="flat-column one-third border_white">
                  <div class="iconbox style3">
                    <div class="box-header">
                      <h5 class="box-title">Account Security</h5>
                      <div class="box-icon">
                        <img src="images/iconbox/18.png" alt="image" />
                      </div>
                    </div>
                    <div class="box-content">
                      <p>
                        The customary tools runs on a highly secured blockchain
                        server inbuilt with Trust wallet and also procures
                        further with two-factor-authentication(2FA)
                      </p>
                    </div>
                  </div>
                  <!-- /.iconbox -->
                  <div class="divider h35"></div>
                  {{! <div class="iconbox style3" stye>
                    <div class="box-header">
                      <h5 class="box-title">Buy or Sell Orders</h5>
                      <div class="box-icon">
                        <img src="images/iconbox/19.png" alt="image" />
                      </div>
                    </div>
                    <div class="box-content">
                      <p>
                        The customary tools runs on a highly secured blockchain server inbuilt with Trust wallet and
                        also
                        procures further with two-factor-authentication(2FA)
                      </p>
                    </div>
                  </div> }}
                  <!-- /.iconbox -->
                </div>
                <!-- /.flat-column -->
                <div class="flat-column one-third">
                  <div class="iconbox style3">
                    <div class="box-header">
                      <h5 class="box-title">High Availability</h5>
                      <div class="box-icon">
                        <img src="images/iconbox/20.png" alt="image" />
                      </div>
                    </div>
                    <div class="box-content">
                      <p>
                        Our servers are distributed around the world. The
                        intelligent load balancing and fail-over system ensures
                        you are up and running 99.9% of the time.
                      </p>
                    </div>
                  </div>
                  <!-- /.iconbox -->
                </div>
                <!-- /.flat-column -->
              </div>
              <!-- /.wrap-column -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row flat-bysell style3">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-column clearfix">
                <div class="flat-column box-text">
                  <div class="title-section style7">
                    <div class="sub-title">Buy and Sell Bitcoins</div>
                    <h2 class="title">
                      Why are so many people investing in digital currencies
                      like Cryptocurrency?
                    </h2>
                  </div>
                  <div class="content-text">
                    <p>
                      Libertex Trades is a niche for everyone who wants
                      to simply trade and stake cryptocurrency. Instant access
                      of tokens at fair APR is ascertained . Join over 1,500,000
                      users today from all over the world to explore the new
                      vision on the web3 space for a promised future
                    </p>
                    <div class="btn-more">
                      <a href="/signup" class="btn btn-warning flat-button bg_color1">Sign Up Now</a>
                    </div>
                  </div>
                </div>
                <!-- /.flat-column -->
                <div class="flat-column box-img">
                  <img src="images/about/2.png" alt="image" />
                </div>
                <!-- /.flat-column -->
              </div>
              <!-- /.wrap-column -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-counter style2 parallax parallax3">
        <div class="overlay bg_color1"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="flat-counter text-center style2">
                <div class="content-counter">
                  <div class="name-count">DEFI TOKENS</div>
                  <div class="numb-count" data-to="50" data-speed="2000" data-waypoint-active="yes">
                    50
                  </div>
                </div>
              </div>
              <!-- /.flat-counter -->
            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-4">
              <div class="flat-counter text-center style2">
                <div class="content-counter">
                  <div class="name-count">STAKINGS</div>
                  <div class="numb-count" data-to="537" data-speed="2000" data-waypoint-active="yes">
                    537
                  </div>
                </div>
              </div>
              <!-- /.flat-counter -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-4">
              <div class="flat-counter text-center style2">
                <div class="content-counter">
                  <div class="name-count">CUSTOMER SUPPORT</div>
                  <div class="numb-count">24/7</div>
                </div>
              </div>
              <!-- /.flat-counter -->
            </div>
            <!-- /.col-md-3 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-team" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="flat-team">
                <div class="content">
                  <h2 class="name">Alexander Mahfuz</h2>
                  <p class="position">
                    CEO, Visioner, Business angel, Entrepreneur
                  </p>
                  <ul class="flat-list style2">
                    <li>
                      95 startups in portfolio<br />
                      (×8 ROI)
                    </li>
                    <li>
                      Founder of #1 crowdinvesting<br />
                      platform in Russia
                    </li>
                    <li>
                      Blockchain educational program<br />
                      director at Plekhanov Russian<br />
                      University of Economics
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-8">
              <div class="flat-team">
                <div class="avatar">
                  <img src="images/team/1.jpg" alt="image" />
                </div>
              </div>
            </div>
            <!-- /.col-lg-8 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-testimonials parallax parallax4">
        <div class="overlay bg_color1"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="wrap-testimonials text-center">
                <div class="flat-testimonials" data-item="1" data-nav="false" data-dots="false" data-auto="true">
                  <div class="testimonials">
                    <div class="avatar">
                      <div class="author-thumb">
                        <img src="../assets/images/logo-mini.png" alt="" height="100px" width="100px"
                          style="border-radius: 50%" />
                      </div>
                      <div class="name">
                        {{! <span>Ben Luke, CEO Eggwatch Tech</span> }}
                      </div>
                    </div>
                    <div class="message">
                      <blockquote>
                        <p>
                          Libertex Trades aims to solve problems
                          associated with initial ETH 2.0 staking illiquidity,
                          immovability and ccessibility - making staked custom
                          ETH liquid and allowing for articipation with any
                          amount of ETH to improve security of the Ethereum
                          network.
                        </p>
                      </blockquote>
                    </div>
                  </div>
                  <!-- /.testimonials -->
                  <div class="testimonials">
                    <div class="avatar">
                      <div class="author-thumb">
                        <img src="../assets/images/logo-mini.png" alt="" height="100px" width="100px"
                          style="border-radius: 50%" />
                      </div>
                      <div class="name">
                        {{! <span>Ben Luke, CEO Eggwatch Tech</span> }}
                      </div>
                    </div>
                    <div class="message">
                      <blockquote>
                        <p>
                          Libertex Trades aims to solve problems
                          associated with initial ETH 2.0 staking illiquidity,
                          immovability and ccessibility - making staked custom
                          ETH liquid and allowing for articipation with any
                          amount of ETH to improve security of the Ethereum
                          network.
                        </p>
                      </blockquote>
                    </div>
                  </div>
                  <!-- /.testimonials -->
                </div>
                <!-- /.flat-testimonials -->
              </div>
              <!-- /.wrap-testimonials -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row row-chart style2">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-section">
                <h2 class="title font_38">
                  Start your NFT quest today on a web3 scale for purchasing and
                  storing on different networks.
                </h2>
              </div>
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
          <div class="collection_container" id="appendCollections">

          </div>
          <div class="divider h24"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="flat-column one-half">
                <div class="table-chart">
                  <img src="images/about/3.jpg" alt="image" />
                </div>
              </div>
              <!-- /.flat-column -->
              <div class="flat-column one-half">
                <div class="chart">
                  <div id="myDiv">
                    <!-- Plotly chart will be drawn inside this DIV -->
                  </div>
                </div>
              </div>
              <!-- /.flat-column -->
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row our-blog" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-section style1 style8 text-center">
                <h2 class="title">Our bitexch Blog update</h2>
                <p class="sub-title">
                  Latest blog update in our trade maket bitcoin
                </p>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="divider h40"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="blog-shortcode blog-carousel-wrap">
                <div class="blog-carousel" data-nav="false" data-dots="false" data-auto="true" data-item="3">

                  <article class="post clearfix">
                    <div class="content-post">
                      <ul class="meta-post clearfix">
                        <li class="date">
                          <span>28 jun 2021 </span>
                        </li>
                        <li class="categories">
                          <a href="#">( Market Exchange )</a>
                        </li>
                      </ul>
                      <div class="title-post">
                        <h2>
                          <a href="blog.html">Cryptocurrency trading </a>
                        </h2>
                      </div>
                      <div class="entry-post excerpt">
                        <p>
                          Earlier this month, Philippine President Rodrigo
                          Duterte officially passed down the baton to Singapore-
                          an
                        </p>
                      </div>
                    </div>
                  </article>

                  <article class="post clearfix" style="visibility: hidden;">
                    <div class="content-post">
                      <ul class="meta-post clearfix">
                        <li class="date">
                          <span>26 jun 2021 </span>
                        </li>
                        <li class="categories">
                          <a href="#">( bitcoin )</a>
                        </li>
                      </ul>
                      <div class="title-post">
                        <h2>
                          <a href="blog.html">Cash on the most liquid GBP </a>
                        </h2>
                      </div>
                      <div class="entry-post excerpt">
                        <p>
                          A business plan you wrote in order to raise some bank
                          money, complete with sales projections and growth
                          plans that you've not necessarily
                        </p>
                      </div>
                    </div>
                  </article>

                  <article class="post clearfix">
                    <div class="content-post">
                      <ul class="meta-post clearfix">
                        <li class="date">
                          <span>16 oct 2021 </span>
                        </li>
                        <li class="categories">
                          <a href="#">( Wallets )</a>
                        </li>
                      </ul>
                      <div class="title-post">
                        <h2>
                          <a href="blog.html">Bitcoin exchange offers PHL </a>
                        </h2>
                      </div>
                      <div class="entry-post excerpt">
                        <p>
                          BuyBitcoin.ph, a new online bitcoin exchange launched
                          on Thursday, offers an alternative method of sending
                          money to the Philippines
                        </p>
                      </div>
                    </div>
                  </article>

                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-row -->

      <section class="flat-row flat-download-divice">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-download text-center">
                <h2 class="title">
                  {{! Caution Always login from your Trust App to avoid loss of assets or unauthorized access. }}
                  Download the Trust wallet application to begin your journey in
                  the crypto space.
                </h2>
              </div>
            </div>
            <!-- /.col-md-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.flat-download-divice -->

      <footer class="footer">
        <div class="footer-widgets">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="widget widget-brand">
                  <div class="logo logo-footer">
                    <a href="/">
                      <img width="100" style="border-radius: 50%" src="images/rinologo.jpeg" alt="image" />
                    </a>
                  </div>
                  {{! <p>
                    Established in 2017 as the first cloud mining provider,
                    Libertex Trades has become a multi-functional cryptocurrency
                    exchange, trusted by over a million users.
                  </p> }}
                </div>
                <!-- /.widget-brand -->
                <!-- <div class="widget widget-social">
                                <h5 class="widget-title">Follow Us</h5>
                                <div class="social-list">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div> -->
              </div>
              <!-- /.col-md-4 -->

              <div class="col-md-4">
                <div class="wiget widget-services">
                  <div class="one-half">
                    <h5 class="widget-title">RESOURCES</h5>
                    <ul>
                      <li>
                        <a href="https://coinmarketcap.com/currencies/bitcoin/">Bitcoin Price</a>
                      </li>
                      <li>
                        <a href="https://coinmarketcap.com/currencies/ethereum/">Ethereum Price</a>
                      </li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="one-half padding_left_73">
                    <h5 class="widget-title">SHORT LINK</h5>
                    <ul>
                      <li>
                        <a href="https://youtu.be/3QH7ZTibV-Q
                                            ">Buy Bitcoins</a>
                      </li>
                      <li>
                        <a href="https://youtu.be/4b6lQ5WNqGA">Buy Ethereum</a>
                      </li>
                      <li>
                        <a href="https://youtu.be/DRAw1XByWQI">Sell Bitcoins</a>
                      </li>
                      <li><a href="about.html">About</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="widget widget-subscribe">
                  <h5 class="widget-title">Subscribe</h5>
                  <p>
                    Sign up for our mailing list to get latest updates and
                    offers
                  </p>
                  <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                    <div id="subscribe-content">
                      <div class="input">
                        <input type="text" id="subscribe-email" name="subscribe-email"
                          placeholder="Your email address" />
                      </div>
                      <div class="button">
                        <button type="button" id="subscribe-button" class="bg_color1" title="Subscribe now">
                          <i class="fa fa-paper-plane-o"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                  <p>
                    Working Hours : Monday-Saturday<br /><span>Close : Sunday</span>
                  </p>
                </div>
              </div>
              <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.footer-widgets -->
      </footer>
      <!-- /.footer -->

      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="copyright text-center">
                Copyright @2023
                <a href="/"> Libertex Trades </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.footer-bottom -->

      <!-- Go Top -->
      <a class="go-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <div class="earners_alert" id="toggle">
      <img src="/images/btc_img.png" alt="" />
      <div>
        <h3>Earning</h3>
        <p><span id="fname">John</span>
          from
          <span id="country"></span>
          just earned
          <b>$<span id="amount_">4,000</span>.</b>
        </p>
      </div>
    </div>

        <a href="https://api.whatsapp.com/send?phone=447398005228&text=Hello%21" target="_blank">
        <div class="whatsapp-icon">
            <img src="/images/WhatsApp.svg.webp" alt="WhatsApp Icon">
        </div>
    </a>

    <script>
      const firstNames = ['John', 'Jane', 'Michael', 'Emily', 'William',
        'Olivia', 'James', 'Emma', 'Robert', 'Sophia', 'David', 'Isabella',
        'Richard', 'Ava', 'Joseph', 'Mia', 'Charles', 'Abigail', 'Thomas',
        'Charlotte']; const lastNames = ['Smith', 'Johnson', 'Williams', 'Jones',
          'Brown', 'Davis', 'Miller', 'Wilson', 'Taylor', 'Anderson', 'Thomas',
          'Jackson', 'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
          'Robinson', 'Clark']; const countries = ['Afghanistan', 'Albania',
            'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
            'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
            'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
            'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
            'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
            'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile',
            'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
            'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
            'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El
      Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
      'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
            'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
            'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
            'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica',
            'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North',
            'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
            'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
            'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
            'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
            'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
            'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New
      Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
      'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
            'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
            'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
            'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and
      Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra
      Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
      'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
            'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan',
            'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and
      Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda',
      'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States',
            'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen',
            'Zambia', 'Zimbabwe']; setInterval(() => {
              let randomAmount =
                Math.random().toString().substr(2, 5).toLocaleString() const
                  randomNumbers = Math.floor(Math.random() * firstNames.length) const
                    randomNumbers2 = Math.floor(Math.random() * lastNames.length) const
                      randomNumbers3 = Math.floor(Math.random() * countries.length) let fname =
                        firstNames[randomNumbers] let lname = lastNames[randomNumbers2] let
              countries_ = countries[randomNumbers3]
              document.getElementById("fname").textContent = fname
              document.getElementById("amount_").textContent = randomAmount
              document.getElementById("country").textContent = countries_
              document.getElementById("toggle").classList.toggle("toggler")
            }, 4000)

    </script>

    <!-- Javascript -->
    <script src="/js/nft-two.js"></script>
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/tether.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/jquery.easing.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/owl.carousel.js"></script>
    <script src="javascript/jquery-countTo.js"></script>
    <script src="javascript/jquery-waypoints.js"></script>
    <script src="javascript/jquery-validate.js"></script>
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/plotly-latest.min.js"></script>
    <script src="javascript/jquery.easeScroll.js"></script>
    <script src="javascript/gmap3.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLjIsk1A1SP8UsfNf2r4VXPinzvnIsnN4&amp;region=GB"></script>
    <script src="javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/slider.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
</body>

{{!-- <script src="//code.tidio.co/ivorokqnnw4n2dgvdeacw3c9s1j5fvhr.js" async></script> --}}

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'e245bf7aad08bddb94ad4831f1c30bc84dbd6e8a';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
<!-- Mirrored from themesflat.com/html/bitexch/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Dec 2020 22:29:40 GMT -->

</html>