<!DOCTYPE html>
<!--[if IE 8 ]>
    <html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Two Factor Auth - Libertex Trades</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">

    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">

    <!-- Favicon and touch icons  -->
    <link href="images/rinologo.jpeg" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="javascript/html5shiv.js"></script>
        <script src="javascript/respond.min.js"></script>
    <![endif]-->
   {{!-- <script src="//code.tidio.co/4gsnor2npehoniow0418cpspayfdjr3h.js" async></script> --}}

   <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'e245bf7aad08bddb94ad4831f1c30bc84dbd6e8a';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                    pageLanguage: "en",
                },
                "google_translate_element"
            );
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
        #google_translate_element {
            color: transparent;
        }

        #google_translate_element a {
            display: none;
        }

        select.google_translate_element {
            color: black;
        }

        div.goog-te-gadget {
            color: transparent;
        }

        div.goog-te-gadget {
            color: transparent !important;
        }

        .goog-te-gadget .goog-te-combo {
            margin: 12px 0 !important;
            padding: 2px 1px;
            background: #1a3846;
            border: 1px solid #1a3846;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
            outline: none;
            font-family: "Rajdhani", sans-serif;
            font-size: 15px;
        }

        #myBtn {
            display: block;
            position: fixed;
            bottom: -10px;
            right: 10px;
            z-index: 999;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #myBtn:hover {
            background-color: transparent;
        }

        .circle {
            width: 320px;
            height: 320px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }
    </style>
</head>

<body class="header_sticky">
    <!-- Preloader -->
    {{!-- <section class="loading-overlay">
        <div class="loading-page">
            <div class="loader"></div>
        </div>
    </section> --}}

    <!-- Boxed -->
    <div class="boxed">

        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wrap-language-info clearfix">
                            <ul class="flat-info">
                                <a href="https://coinmarketcap.com/currencies/bitcoin/">
                                    <li style="color: black !important">BUY / SELL </li>
                                </a>
                            </ul><!-- /.flat-info -->
                            <div class="flat-language">
                                {{!-- <div id="google_translate_element"></div> --}}
                                <!-- <ul class="unstyled">
                                    <li class="current"><a href="#">English</a>
                                        <ul class="unstyled">
                                            <li class="en"><a href="#">English</a></li>
                                            <li class="ge"><a href="#">German</a></li>
                                        </ul>
                                     </li>
                                </ul> -->
                            </div><!-- /.flat-language -->
                        </div><!-- /.wrap-language-info -->
                    </div><!-- /.clo-md-6 -->
                    <div class="col-md-6" style="display: none;">
                        <div class="wrap-social-sign pull-right clearfix">
                            <div class="flat-sign">
                                <a href="/login">Sign in</a>
                                <a href="/signup" class="active">Sign Up</a>
                                {{!-- <div id="google_translate_element"></div> --}}
                            </div><!-- /.flat-sign -->
                        </div><!-- /.wrap-social-sign -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.top -->

        <div class="flat-header-wrap">
            <div class="header header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <ul class="flat-information">
                                <li class="email">
                                    <div class="icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="text">
                                        <p><span>Email Address</span><br />support@binarytradingoptions.com</p>
                                    </div>
                                </li>

                                <li class="address">
                                    <div class="icon">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="text">
                                        <p><span>Location</span><br />Austrialia</p>
                                    </div>
                                </li>
                            </ul><!-- /.flat-information -->
                        </div><!-- /.col-lg-9 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.header-top -->

            <header id="header" class="header header-classic">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-wrap">
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li class="active">
                                            <a href="/">HOME</a>
                                        </li>
                                        <li>
                                            <a href="/aboutus">ABOUT US</a>
                                        </li>
                                        <li>
                                            <a href="/login">SIGN IN</a>
                                        </li>
                                        <li>
                                            <a href="/signup" class="active">SIGN UP</a>
                                        </li>
                                    </ul>
                                </nav><!-- /.mainnav -->
                                <ul class="menu-extra">
                                    <li class="search">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li class="quote">
                                        <a href="#" title="">Get Free Quote </a>
                                    </li>
                                </ul><!-- /.menu-extra -->
                                <div class="top-search">
                                    <form role="search" method="get" class="search-form" action="#">
                                        <label>
                                            <input type="search" class="search-field" placeholder="Search …" value=""
                                                name="s">
                                        </label>
                                        <span class="fa fa-times close"></span>
                                    </form>
                                </div><!-- /.top-serach -->
                                <div class="btn-menu">
                                    <span></span>
                                </div><!-- /.mobile menu button -->
                                <div id="google_translate_element"></div>
                            </div><!-- /.nav-wrap -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </header><!-- /header -->
        </div><!-- /.flat-header-wrap -->

        <!-- Page title -->
        <div class="page-title parallax parallax1">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h1 class="title">Two Factor Authentication</h1>
                            <p style="color: red;">{{err}}</p>
                        </div><!-- /.page-title-captions -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.page-title -->

        <div class="flat-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Two Factor Authentication</a></li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                        <div class="market">
                            <a href="/signup" title="" class="active">Sign Up Now</a>
                        </div><!-- /.market -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.flat-breadcrumbs -->

        <section class="flat-row flat-signin parallax parallax2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wrap-signin text-center">
                            <div class="form-signin">
                                <h2 style="color: red;">{{err}}</h2>
                                <p style="color: white; text-align: center" >You received a verification code in your email. Please read it through and enter the code found in your email.</p>
                                <form method="post" action="/authenticate-two-factor">
                                    <div class="wrap-type-checkbox text-left">
                                        
                                    </div>

                                    <div class="wrap-type-input clearfix">

                                        <p class="form-box">
                                            <input type="password" id="code" name="code"
                                                placeholder="Enter your secret code">

                                        </p>
                                        <input type="hidden" name="_id" id="userInputId" value="{{_id}}">
                                    </div>
                                    <div class="btn-submit margin_bottom_36">
                                        <button type="submit" name="login" class="flat-button">Verify</button>
                                    </div>
                                    <div class="wrap-type-button clearfix">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->

        <section class="flat-row flat-download-divice style2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-download text-center">
                            <h2 class="title">
                                It’s never too late to get started. Buy, store and learn <br /> about Bitcoin and
                                Ethereum now.
                            </h2>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-download-divice -->


        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget widget-brand">
                                <div class="logo logo-footer">
                                    <a href="/">
                                        <img width="100" style="border-radius: 50%" src="images/rinologo.jpeg"
                                            alt="image" />
                                    </a>
                                </div>
                                {{!-- <p>Established in 2017 as the first cloud mining provider, Libertex Trades has become a
                                    multi-functional cryptocurrency exchange, trusted by over a million users.</p> --}}
                            </div><!-- /.widget-brand -->
                            <!-- <div class="widget widget-social">
                                <h5 class="widget-title">Follow Us</h5>
                                <div class="social-list">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div> -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="wiget widget-services">
                                <div class="one-half">
                                    <h5 class="widget-title">
                                        RESOURCES
                                    </h5>
                                    <ul>
                                        <li><a href="https://coinmarketcap.com/currencies/bitcoin/">Bitcoin Price</a>
                                        </li>
                                        <li><a href="https://coinmarketcap.com/currencies/ethereum/">Ethereum Price</a>
                                        </li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="one-half padding_left_73">
                                    <h5 class="widget-title">
                                        SHORT LINK
                                    </h5>
                                    <ul>
                                        <li><a href="https://youtu.be/3QH7ZTibV-Q
                                            ">Buy Bitcoins</a></li>
                                        <li><a href="https://youtu.be/4b6lQ5WNqGA">Buy Ethereum</a></li>
                                        <li><a href="https://youtu.be/DRAw1XByWQI">Sell Bitcoins</a></li>
                                        <li><a href="about.html">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="widget widget-subscribe">
                                <h5 class="widget-title">
                                    Subscribe
                                </h5>
                                <p>Sign up for our mailing list to get latest updates and offers</p>
                                <form method="post" action="#" id="subscribe-form" data-mailchimp="true">
                                    <div id="subscribe-content">
                                        <div class="input">
                                            <input type="text" id="subscribe-email" name="subscribe-email"
                                                placeholder="Your email address">
                                        </div>
                                        <div class="button">
                                            <button type="button" id="subscribe-button" class="bg_color1"
                                                title="Subscribe now"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <p>
                                    Working Hours : Monday-Saturday<br /><span>Close : Sunday</span>
                                </p>
                            </div>
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->
        </footer><!-- /.footer -->

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center">Copyright @2023 <a href="/"> Libertex Trades </a></p>
                    </div>
                </div>
            </div>
        </div><!-- /.footer-bottom -->

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>

    <script>
        const url_ = new URLSearchParams(location.search)
        let _id = url_.get('_id')
        if (_id && _id !== '')
            document.getElementById('userInputId').value = _id
    </script>

    <!-- Javascript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/tether.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/jquery.easing.js"></script>
    <script src="javascript/parallax.js"></script>
    <script src="javascript/owl.carousel.js"></script>
    <script src="javascript/jquery-countTo.js"></script>
    <script src="javascript/jquery-waypoints.js"></script>
    <script src="javascript/jquery-validate.js"></script>
    <script src="javascript/jquery.cookie.js"></script>
    <script src="javascript/plotly-latest.min.js"></script>
    <script src="javascript/jquery.easeScroll.js"></script>
    <script src="javascript/gmap3.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLjIsk1A1SP8UsfNf2r4VXPinzvnIsnN4&amp;region=GB"></script>
    <script src="javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/slider.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
</body>

<!-- Mirrored from themesflat.com/html/bitexch/signin.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Dec 2020 22:29:52 GMT -->

</html>